{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block  content%}
    <style type="text/css">
    </style>
        <div class="col-md-10">
            <div class="content-box-large">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="text text-primary" style="font-size:xx-large"><b>{{ record_obj.full_domain }}</b></span>
                    </div>
                    <div class="ibox-content ibox-heading">
                        <h3>加速域名详细信息</h3>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <div class="text-left">
                                <table class="table">
                                    <tr>
                                        <td class="text-navy">加速域名</td>
                                        <td>{{ record_obj.full_domain }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-navy">qcloud</td>
                                        <td>{{ record_obj.qcloud_record  }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-navy">upyun</td>
                                        <td>{{ record_obj.upyun_record  }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-navy">源站</td>
                                        <td>{{ record_obj.source_record  }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-navy">同步时间</td>
                                        <td>{{ record_obj.sync_time| date:"Y-m-d H:i:s" }}</td>
                                    </tr>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>
  			</div>
        </div>


{% endblock %}

{% block js %}
    <script>
    $(".record_sw_qcloud").click(function(){
        var record_id = $(this).attr('record_id');
        var domain_id = $(this).attr('domain_id');
        var record_name = $(this).attr('record_name');
        var record_type = $(this).attr('record_type');
        var record_line = $(this).attr('record_line');
        var domain = $(this).attr('domain');
        var flag = $(this).attr('flag');
         swal({
              title: "是否切换?",
              text: "你确定需要切换吗？",
              type: "warning",
              showCancelButton: true,
              confirmButtonText: "Confirm",
              closeOnConfirm: false,
              html: false,
            }, function(){
                $.ajax({
                    type:'POST',
                    url:'{% url 'DnsRecordSwitch' %}',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_id': record_id,
                        'domain_id': domain_id,
                        'record_name': record_name,
                        'record_type': record_type,
                        'record_line': record_line,
                        'domain': domain,
                         'flag': flag
                    },
                    success:function(callArg){
                    if (callArg == 0) {
                        swal("切换成功！", "该记录已切换成功", "success");
                        setTimeout(function(){
                            window.location.reload()}, 1200);
                    }
                    else{
                        var err_msg = "切换失败!";
                        swal("切换失败！", err_msg, "error");
                    }
                }
                });
        });
    });


    $(".record_sw_upyun").click(function(){
        var record_id = $(this).attr('record_id');
        var domain_id = $(this).attr('domain_id');
        var record_name = $(this).attr('record_name');
        var record_type = $(this).attr('record_type');
        var record_line = $(this).attr('record_line');
        var domain = $(this).attr('domain');
        var flag = $(this).attr('flag');
         swal({
              title: "是否切换?",
              text: "你确定需要切换吗？",
              type: "warning",
              showCancelButton: true,
              confirmButtonText: "Confirm",
              closeOnConfirm: false,
              html: false,
            }, function(){
                $.ajax({
                    type:'POST',
                    url:'{% url 'DnsRecordSwitch' %}',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_id': record_id,
                        'domain_id': domain_id,
                        'record_name': record_name,
                        'record_type': record_type,
                        'record_line': record_line,
                        'domain': domain,
                        'flag': flag
                    },
                    success:function(callArg){
                    if (callArg == 0) {
                        swal("切换成功！", "该记录已切换成功", "success");
                        setTimeout(function(){
                            window.location.reload()}, 1200);
                    }
                    else{
                        var err_msg = "切换失败!";
                        swal("切换失败！", err_msg, "error");
                    }
                }
                });
        });
    });

    $(".record_sw_source").click(function(){
        var record_id = $(this).attr('record_id');
        var domain_id = $(this).attr('domain_id');
        var record_name = $(this).attr('record_name');
        var record_type = $(this).attr('record_type');
        var record_line = $(this).attr('record_line');
        var domain = $(this).attr('domain');
        var flag = $(this).attr('flag');
         swal({
              title: "是否切换?",
              text: "你确定需要切换吗？",
              type: "warning",
              showCancelButton: true,
              confirmButtonText: "Confirm",
              closeOnConfirm: false,
              html: false,
            }, function(){
                $.ajax({
                    type:'POST',
                    url:'{% url 'DnsRecordSwitch' %}',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_id': record_id,
                        'domain_id': domain_id,
                        'record_name': record_name,
                        'record_type': record_type,
                        'record_line': record_line,
                        'domain': domain,
                        'flag': flag
                    },
                    success:function(callArg){
                    if (callArg == 0) {
                        swal("切换成功！", "该记录已切换成功", "success");
                        setTimeout(function(){
                            window.location.reload()}, 1200);
                    }
                    else{
                        var err_msg = "切换失败!";
                        swal("切换失败！", err_msg, "error");
                    }
                }
                });
        });
    });

$(function () {
    var table = $('#conf_lists').dataTable({
        "bInfo": true,
        {#        "lengthChange": false,#}
        {#        "bPaginate": false,#}
        "iDisplayLength": 10,
        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "oLanguage": {//语言设置
            "sLengthMenu": "每页显示  _MENU_ 条记录",
            "sInfo": "从 _START_ 到 _END_，共 _TOTAL_ 条数据",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "前一页",
                "sNext": "后一页",
                "sLast": "尾页"
            },
            "sZeroRecords": "抱歉， 没有找到",
            "sInfoEmpty": "没有数据",
            "sInfoFiltered": "（数据库中共为 _MAX_ 条记录）",
            "sSearch": "模糊查询："
        }
    });

});

$('.shift-info').editableSelect({
            effects: 'slide',
            onSelect: function (element) {
　　　　　　　//$('.shift-info').attr({'data-val':element.val(),'placeholder':'请输入或选择域名..'});　
　　　　　　　$('.shift-info').attr('data-val',element.val())　
       }
  }).prop('placeholder','请输入或选择域名...');


    $(".cdnsync").click(function(){
         swal({
              title: "从cdn同步记录",
              text: "更新记录,时间稍长,请耐心等待...",
              type: "info",
              showCancelButton: true,
              closeOnConfirm: false,
             showLoaderOnConfirm: true,
            }, function(){
                $.ajax({
                    type:'POST',
                    url:'{% url 'CdnSync' %}',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success:function(callArg){
                    if (callArg == 0) {
                        swal("同步成功！", "已完成同步", "success");
                        setTimeout(function(){
                            window.location.reload()}, 1200);
                    }
                    else{
                        var err_msg = "同步失败!";
                        swal("同步失败！", err_msg, "error");
                    }
                }
                });
        });
    });



</script>
{% endblock %}