{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block  content%}
    <style type="text/css">
    </style>
        <div class="col-md-10">
            <div class="content-box-large">

                <div class="panel-heading">
                    <div class="panel-title">DNS管理/DNS切换</div>

                        <a class="btn btn-primary btn-xs cdnsync"><i class="glyphicon glyphicon-retweet"></i> <span style="font-size:15px;">同步CDN CNAME数据</span></a>

                    <div class="panel-options">
                        <a href="" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                    </div>
                </div>

             <form role="form" action=""  method="GET">
            <div class="panel-body">

                <div class="panel-options input-group col-md-3" style="margin-top:0px positon:relative">
                <input type="hidden" name="domain_id" value ="{{ domain_id }}" />
                <input type="text" class="form-control" name="keyword" value="{{ keyword }}" placeholder="请输入记录名精确查找" style="width: 200px;"/ >
                    <span class="">
                        <button class="btn btn-sm btn-primary"  type="submit" >查找</button>
                    </span>
                </div>
            </div>
            </form>

                <div class="panel-body">
  					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover" id="conf_lists" width="100%">
						<thead>
							<tr>
                                <th>主机记录</th>
                                <th>域名</th>
                                <th>类型</th>
                                <th>记录</th>
                                <th>记录ID</th>
                                <th>操作</th>

							</tr>
						</thead>
						<tbody>
                        {% for item in record_obj %}
                            <tr>
                                <td>{{ item.record }}</td>
                                <td>{{ item.domain }}</td>
                                <td>{{ item.record_type }}</td>
                                <td>{{ item.record_value }}</td>
                                <td>{{ item.record_id }}</td>
                                <td>
                                    <a class="btn btn-primary btn-xs record_sw_qcloud" record_id={{ item.record_id }} record_name={{ item.record }}  domain_id={{ item.domain_id_id }} record_type="CNAME" record_line={{ item.record_line }} domain={{ item.domain }} flag="qcloud"><i class="glyphicon glyphicon-wrench"></i> 切换到qcloud</a>
                                    <a class="btn btn-primary btn-xs record_sw_upyun" record_id={{ item.record_id }} record_name={{ item.record }}   domain_id={{ item.domain_id_id }} record_type="CNAME" record_line={{ item.record_line }} domain={{ item.domain }} flag="upyun"><i class="glyphicon glyphicon-wrench"></i> 切换到upyun</a>
                                    <a class="btn btn-primary btn-xs record_sw_source" record_id={{ item.record_id }} record_name={{ item.record }}   domain_id={{ item.domain_id_id }} record_type="A" record_line={{ item.record_line }} domain={{ item.domain }} flag="origin"><i class="glyphicon glyphicon-wrench"></i> 切换到源服务器</a>
                                    <a href="{% url 'CDNDetail' %}?record_name={{ item.record }}&domain={{ item.domain }}" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-info-sign"></i> 详情</a>
                                    <!-- <a >{{ item.record }}.{{ item.domain }}</a> -->
                                </td>
                            </tr>
                        {% endfor %}
						</tbody>
					</table>
  				</div>
  			</div>
        </div>

{% endblock %}

{% block js %}
    <script>
    $(".record_sw_qcloud").click(function(){
        var record_id = $(this).attr('record_id');
        var domain_id = $(this).attr('domain_id');
        var record_name = $(this).attr('record_name');
        var record_type = $(this).attr('record_type');
        var record_line = $(this).attr('record_line');
        var domain = $(this).attr('domain');
        var flag = $(this).attr('flag');
         swal({
              title: "是否切换?",
              text: "你确定需要切换吗？",
              type: "warning",
              showCancelButton: true,
              confirmButtonText: "Confirm",
              closeOnConfirm: false,
              html: false,
            }, function(){
                $.ajax({
                    type:'POST',
                    url:'{% url 'DnsRecordSwitch' %}',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_id': record_id,
                        'domain_id': domain_id,
                        'record_name': record_name,
                        'record_type': record_type,
                        'record_line': record_line,
                        'domain': domain,
                         'flag': flag
                    },
                    success:function(callArg){
                    if (callArg == 0) {
                        swal("切换成功！", "该记录已切换成功", "success");
                        setTimeout(function(){
                            window.location.reload()}, 1200);
                    }
                    else{
                        var err_msg = "切换失败!";
                        swal("切换失败！", err_msg, "error");
                    }
                }
                });
        });
    });


    $(".record_sw_upyun").click(function(){
        var record_id = $(this).attr('record_id');
        var domain_id = $(this).attr('domain_id');
        var record_name = $(this).attr('record_name');
        var record_type = $(this).attr('record_type');
        var record_line = $(this).attr('record_line');
        var domain = $(this).attr('domain');
        var flag = $(this).attr('flag');
         swal({
              title: "是否切换?",
              text: "你确定需要切换吗？",
              type: "warning",
              showCancelButton: true,
              confirmButtonText: "Confirm",
              closeOnConfirm: false,
              html: false,
            }, function(){
                $.ajax({
                    type:'POST',
                    url:'{% url 'DnsRecordSwitch' %}',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_id': record_id,
                        'domain_id': domain_id,
                        'record_name': record_name,
                        'record_type': record_type,
                        'record_line': record_line,
                        'domain': domain,
                        'flag': flag
                    },
                    success:function(callArg){
                    if (callArg == 0) {
                        swal("切换成功！", "该记录已切换成功", "success");
                        setTimeout(function(){
                            window.location.reload()}, 1200);
                    }
                    else{
                        var err_msg = "切换失败!";
                        swal("切换失败！", err_msg, "error");
                    }
                }
                });
        });
    });

    $(".record_sw_source").click(function(){
        var record_id = $(this).attr('record_id');
        var domain_id = $(this).attr('domain_id');
        var record_name = $(this).attr('record_name');
        var record_type = $(this).attr('record_type');
        var record_line = $(this).attr('record_line');
        var domain = $(this).attr('domain');
        var flag = $(this).attr('flag');
         swal({
              title: "是否切换?",
              text: "你确定需要切换吗？",
              type: "warning",
              showCancelButton: true,
              confirmButtonText: "Confirm",
              closeOnConfirm: false,
              html: false,
            }, function(){
                $.ajax({
                    type:'POST',
                    url:'{% url 'DnsRecordSwitch' %}',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_id': record_id,
                        'domain_id': domain_id,
                        'record_name': record_name,
                        'record_type': record_type,
                        'record_line': record_line,
                        'domain': domain,
                        'flag': flag
                    },
                    success:function(callArg){
                    if (callArg == 0) {
                        swal("切换成功！", "该记录已切换成功", "success");
                        setTimeout(function(){
                            window.location.reload()}, 1200);
                    }
                    else{
                        var err_msg = "切换失败!";
                        swal("切换失败！", err_msg, "error");
                    }
                }
                });
        });
    });

$(function () {
    var table = $('#conf_lists').dataTable({
        "bInfo": true,
        {#        "lengthChange": false,#}
        {#        "bPaginate": false,#}
        "iDisplayLength": 10,
        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "oLanguage": {//语言设置
            "sLengthMenu": "每页显示  _MENU_ 条记录",
            "sInfo": "从 _START_ 到 _END_，共 _TOTAL_ 条数据",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "前一页",
                "sNext": "后一页",
                "sLast": "尾页"
            },
            "sZeroRecords": "抱歉， 没有找到",
            "sInfoEmpty": "没有数据",
            "sInfoFiltered": "（数据库中共为 _MAX_ 条记录）",
            "sSearch": "模糊查询："
        }
    });

});

$('.shift-info').editableSelect({
            effects: 'slide',
            onSelect: function (element) {
　　　　　　　//$('.shift-info').attr({'data-val':element.val(),'placeholder':'请输入或选择域名..'});　
　　　　　　　$('.shift-info').attr('data-val',element.val())　
       }
  }).prop('placeholder','请输入或选择域名...');


    $(".cdnsync").click(function(){
         swal({
              title: "从cdn同步记录",
              text: "更新记录,时间稍长,请耐心等待...",
              type: "info",
              showCancelButton: true,
              closeOnConfirm: false,
             showLoaderOnConfirm: true,
            }, function(){
                $.ajax({
                    type:'POST',
                    url:'{% url 'CdnSync' %}',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success:function(callArg){
                    if (callArg == 0) {
                        swal("同步成功！", "已完成同步", "success");
                        setTimeout(function(){
                            window.location.reload()}, 1200);
                    }
                    else{
                        var err_msg = "同步失败!";
                        swal("同步失败！", err_msg, "error");
                    }
                }
                });
        });
    });



</script>
{% endblock %}