{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block  content%}
    <style type="text/css">
            .div1{  width: 100px; height: 100px; border: 1px solid #000000;}
            .div2{ width:40px ; height: 40px; background-color: green;}
            .div22{
                margin-left: 30px;margin-top: 30px;
    </style>
        <div class="col-md-10">
            <div class="content-box-large">
                <div class="panel-heading" style="width: auto;height: 600px">
                    <div class="panel-title" >
                        <h1>Error ! 403 .....  抱歉您没有该模块权限，请联系管理员！<a href="/accounts/center">返回首页</a></h1>
                    </div>


                </div>


  			</div>
        </div>
{% endblock %}

