{% load staticfiles %}
<!-- Bootstrap -->
<link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
<!-- styles -->
<link rel="stylesheet" href={% static "css/styles.css" %} >
<link rel="stylesheet" href={% static "css/buttons.css" %} >
<link rel="stylesheet" href={% static "css/jquery-editable-select.css" %} >
<link rel="stylesheet" href={% static "css/jquery-editable-select.min.css" %} >
<link rel="stylesheet" href={% static "vendors/select2/css/select2.min.css" %}>
<link rel="stylesheet" href={% static "vendors/select2/css/select2-bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "vendors/codemirror/lib/codemirror.css"%}>
<link rel="stylesheet" href={% static "vendors/codemirror/lib/merge.css"%}>
<link rel="stylesheet" href={% static "vendors/codemirror/theme/eclipse.css" %}>
<link rel="stylesheet" href={% static "vendors/select/css/bootstrap-select.css" %}>
<link rel="stylesheet" href={% static "vendors/select/css/bootstrap-select.min.css" %}>
<link rel="stylesheet" href={% static "vendors/sweetalert/css/sweetalert.css" %}>
<link rel="stylesheet" href={% static "vendors/sweetalert/themes/twitter/twitter.css" %}>
<link rel="stylesheet" href={% static "vendors/bootstrap-wizard/css/prettify.css" %}>
<link rel="stylesheet" href={% static "vendors/bootstrap-wizard/css/custom.css" %}>
<link rel="stylesheet" href={% static "vendors/bootstrap-switch/css/bootstrap3/bootstrap-switch.css" %}>

<link rel="stylesheet" media="screen" href={% static "vendors/datatables/dataTables.bootstrap.css"%}>

<link rel="stylesheet" media="screen" href={% static "vendors/morris/css/morris.css"%}>
<link rel="stylesheet" href={% static "css/plugins/chosen/chosen.css" %}>
<link rel="stylesheet" href={% static "css/font-awesome/css/font-awesome.min.css" %}>

