{% load staticfiles %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src={% static "vendors/jquery.js" %}></script>
<script src={% static "vendors/validate/js/jquery.validate.min.js" %}></script>
<script src={% static "vendors/validate/js/messages_zh.js" %}></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
<script src={% static "js/custom.js" %}></script>
<script src={% static "js/jquery-editable-select.js" %}></script>
<script src={% static "js/jquery-editable-select.min.js" %}></script>

<script src={% static "vendors/codemirror/lib/codemirror.js" %}></script>
<script src={% static "vendors/codemirror/lib/diff_match_patch.js" %}></script>
<script src={% static "vendors/codemirror/lib/merge.js" %}></script>
<script src={% static "vendors/codemirror/mode/php/php.js" %}></script>
<script src={% static "vendors/codemirror/mode/css/css.js" %}></script>
<script src={% static "vendors/codemirror/mode/xml/xml.js" %}></script>
<script src={% static "vendors/codemirror/mode/javascript/javascript.js" %}></script>
<script src={% static "vendors/codemirror/mode/clike/clike.js" %}></script>
<script src={% static "vendors/codemirror/mode/htmlmixed/htmlmixed.js" %}></script>

<script src={% static "vendors/select2/js/select2.min.js" %}></script>

<script src={% static "vendors/datatables/js/jquery.dataTables.min.js" %}></script>
<script src={% static "vendors/datatables/dataTables.bootstrap.js" %}></script>

<script src={% static "vendors/sweetalert/js/sweetalert.min.js" %}></script>

<script src={% static  "vendors/select/js/bootstrap-select.js" %}></script>
<script src={% static  "vendors/select/js/bootstrap-select.min.js" %}></script>

<script src={% static  "vendors/bootstrap-wizard/js/jquery.bootstrap.wizard.js" %}></script>

<script src={% static  "vendors/bootstrap-wizard/js/prettify.js" %}></script>

<script src={% static  "vendors/select/js/bootstrap-select.min.js" %}></script>

<script src={% static  "vendors/bootstrap-switch/js/bootstrap-switch.js" %}></script>

<script src={% static  "vendors/morris/js/morris.js" %}></script>
<script src={% static  "vendors/morris/js/morris.min.js" %}></script>
<script src={% static  "vendors/morris/js/raphael-min.js" %}></script>

<script src={% static  "vendors/echarts/echarts.min.js" %}></script>
<script src={% static "js/plugins/chosen/chosen.jquery.js" %}></script>

<!--Custom -->
<!-- <script src={% static "js/inspinia.js" %}></script> -->
<script src={% static "js/dropzone/dropzone.js" %}></script>