{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block  content%}
<div class="col-md-10">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">配置更新</div>

            <div class="panel-options">
              <a href="" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <label>项目</label>
                        <select id="project" name="project" class="form-control">
                            <option></option>
                            {% for project_selected_obj in project_obj %}
                                <option value={{ project_selected_obj.name }}>{{ project_selected_obj.name }}</option>
                            {% endfor %}
                        </select>
                        <br />
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Update">
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src={% static  "vendors/select2/js/select2.min.js" %}></script>
    <script>
    $("#project").select2({
        theme: "bootstrap",
        placeholder: "------"
    });
</script>
{% endblock %}
